body{
    font-size: 3rem ;
    background-color: darkgreen;
    color: darkgray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
 }
 
 p{
     margin: 50px;
 }
 
 .button-92{
     height: 10vh;
     width: 25vw;
     border-radius: 100vw;
     font-size: 1em;
 }
 .main-content { 
     display: flex;
     flex-direction: column;
     width: 80vw;
     background: #00a313;
     align-items: center;
     justify-content: center;
     padding: .3em;
 };
 
 
 
 